* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/background.png");
    background-size: cover;
    font-family: comic sans ms;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px orange;
    margin-top: 20px;
    margin-bottom: auto;
}

div {
    color: white;
}

.statistics-table {
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 30%;
    margin: 0 auto;
}

.statistics {
    background-image: url("images/wood-texture.jpg");
    border: 2px solid;
    width: 400px;
    height: 100px;
}

.buildings-table {
    margin-left: auto;
    margin-right: 25px;
}

.clickable:hover {
    transform: scale(1.01);
}

.clickable:active {
    transform: scale(1);
}

.buildings-table > td {
    background-image: none;
    background-color: transparent;
}

button {
    margin-left: 5px;
    background-color: grey;
    border: solid;
    border-color: black;
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: white;
}

.building-picture {
    display: block;
    width: 100px;
    height: 100px;
}

.column-1 {
    border: 2px solid;
}

.column-2 {
    background-image: url("images/wood-texture.jpg");
    background-color: #cccccc;
    border: 2px solid;
    width: 280px;
}

.building-name {
    margin-left: 5px;
    margin-right: auto;
    font-size: 20px;
}

.cost {
    margin-left: 5px;
    margin-right: auto;
    font-size: 15px;
}

.building-production {
    margin-left: 5px;
    margin-right: auto;
    font-size: 12px;
    color: #cccccc;
}

.quantity {
    color: orange;
}

.copyright {
    color: black;
}

#bottle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 400px;
}

#bottle:hover {
    transform: scale(1.02);
}

#bottle:active {
    transform: scale(1);
}
