* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/background.png");
    background-size: cover;
    font-family: comic sans ms;
}

div {
    color: white;
}

.buildings-table {
    margin-left: auto;
    margin-right: 25px;
}

tr:hover {
    transform: scale(1.01);
}

tr:active {
    transform: scale(1);
}

.buildings-table > td {
    background-image: none;
    background-color: transparent;
}

button {
    margin-left: 5px;
    background-color: grey;
    border: solid;
    border-color: black;
    width: 25px;
    height: 25px;
    font-size: 20px;
    color: white;
}

.building-picture {
    display: block;
    width: 100px;
    height: 100px;
}

.column-1 {
    border: 2px solid;
}

.column-2 {
    background-image: url("images/wood-texture.jpg");
    background-color: #cccccc;
    border: 2px solid;
    width: 280px;
}

.building-name {
    margin-left: 5px;
    margin-right: auto;
    font-size: 20px;
}

.cost {
    margin-left: 5px;
    margin-right: auto;
    font-size: 15px;
}

.building-production {
    margin-left: 5px;
    margin-right: auto;
    font-size: 12px;
    color: #cccccc;
}

.quantity {
    color: orange;
}
