* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/background.jpg");
    font-family: comic sans ms;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px orange;
    margin-top: 20px;
    margin-bottom: auto;
}

div {
    color: white;
}

button {
    background-color: gray;
    color: white;
    font-family: inherit;
    border: 2px solid black;
    height: 30px;
    width: auto;
}

button > div {
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    transform: scale(1.01);
}

button:active {
    transform: scale(1);
}

.click-bonus-table {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 5%;
    margin: 0 auto;
    width: 250px;
    font-size: 18px;
    text-align: center;
}

img[src="images/down_arrow.png"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

.row-1 {
    background-image: url("images/wood-texture.jpg");
    border: 2px solid;
    height: 150px;
}

.row-1 > div, .row-3 > div {
    margin-left: 5px;
    margin-right: 5px;
}

.row-2 {
    height: 150px;
}

.row-3 {
    background-image: url("images/wood-texture.jpg");
    border: 2px solid;
    height: 100px;
}

.row-4 {
    height: 60px;
}

.statistics-table {
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 30%;
    margin: 0 auto;
}

.cell-with-bottle {
    height: 350px;
}

.statistics {
    background-image: url("images/wood-texture.jpg");
    border: 2px solid;
    width: 400px;
    height: 100px;
}

.statistics > div {
    margin-left: 5px;
    margin-right: auto;
}

.buildings-table {
    margin-left: auto;
    margin-right: 25px;
    top: 10%;
}

.clickable:hover {
    transform: scale(1.01);
}

.clickable:active {
    transform: scale(1);
}

.buildings-table > td {
    background-image: none;
    background-color: transparent;
}

.building-picture {
    display: block;
    width: 100px;
    height: 100px;
}

.column-1 {
    border: 2px solid;
}

.column-2 {
    background-image: url("images/wood-texture.jpg");
    background-color: #cccccc;
    border: 2px solid;
    width: 280px;
}

.building-name {
    margin-left: 5px;
    margin-right: auto;
    font-size: 20px;
}

.cost {
    margin-left: 5px;
    margin-right: auto;
    font-size: 15px;
}

.building-production {
    margin-left: 5px;
    margin-right: auto;
    font-size: 12px;
    color: #cccccc;
}

.quantity {
    color: orange;
}

.copyright {
    color: black;
}

#clicking-bonus {
    color: lightgreen;
}

#bottle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 115px;
    height: 300px;
}

#bottle:hover {
    transform: scale(1.02);
}

#bottle:active {
    transform: scale(1);
}
